.container{
  width: 50%;
  height: 25%;
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
}

.notFound{
  width: 355px;
  height: 25%;
  position: fixed;
  left: 0;
  right: 0;
  top: 20px;
  margin: auto;
}

.notFoundIcon{
  width: 300px;
  height: 34%;
  position: fixed;
  left: 0;
  right: 0;
  top: 190px;
  margin: auto;
}


.title{
  width: 25%;
  height: 25%;
  position: fixed;
  left: 0;
  right: 0;
  top: 250px;
  margin: auto;
}
