$block-display:block;
$flex-display:flex;
$absolute-position: absolute;
$relative-position: relative;
$text-align : center;
$justify-content-center : center;
$justify-content-space-between : space-between;
$half-width: 50%;
$full-width: 100%;
$full-height: 100%;
$white-bg: white;